#!/bin/bash

# gnome-settings-daemon new update
/usr/lib/gnome-settings-daemon/gsd-xsettings &
#/usr/lib/gnome-settings-daemon/gnome-settings-daemon &
#/usr/lib/cinnamon-settings-daemon/cinnamon-settings-daemon &
guake &
nm-applet &

# exec /usr/bin/startfluxbox

