# global stuffs
command=/usr/lib/i3blocks/$BLOCK_NAME
separator_block_width=15
markup=none

# load
[load_average]
label=
interval=1
color=#ff0a0a

# volume
[volume]
#label=♪
label=
instance=Master
color=#aa0aaa
interval=10

# disk
[disk]
label=
instance=/
color=#0aaaaa
interval=30

[disk]
label=
instance=/home
color=#0aaaaa
interval=30

# network interface
[iface]
label=
instance=wlp1s0
color=#0aaa0a
interval=3

[iface]
label=
instance=eno1
color=#0aaa0
interval=3

# datetime
[time]
command='/home/khoai/bin/getdate.sh'
color=#aaaa0a
interval=1

